/* line 2, ../scss/_product.scss */
article.product {
  background: #FFF;
  border: 1px solid #e8e8e8;
  border-width: 1px 1px 4px 1px;
  margin-bottom: 10px;
  padding: 20px 10px;
}
/* line 9, ../scss/_product.scss */
article.product:hover {
  border-color: #5FC7EE;
}
/* line 13, ../scss/_product.scss */
article.product .picture > img {
  object-fit: contain;
}
/* line 18, ../scss/_product.scss */
article.product .topArticle h3 {
  position: relative;
  margin-top: 0;
}
/* line 22, ../scss/_product.scss */
article.product .topArticle h3 span {
  border-radius: 0;
  font-size: 0.5em;
  text-transform: uppercase;
  position: relative;
  top: -4px;
  margin: 0 10px;
  letter-spacing: 0.1em;
}
/* line 31, ../scss/_product.scss */
article.product .topArticle h3 span.label-primary {
  background: #5FC7EE;
}
/* line 35, ../scss/_product.scss */
article.product .topArticle p {
  margin: 0;
}
/* line 40, ../scss/_product.scss */
article.product .rightArticle .price {
  flex: 1 100%;
  padding-bottom: 10px;
  font-size: 2em;
  text-align: center;
}
/* line 46, ../scss/_product.scss */
article.product .rightArticle .stockProduct {
  flex: 5 auto;
  margin: 0 5px 0 0;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  letter-spacing: .1em;
}
/* line 54, ../scss/_product.scss */
article.product .rightArticle .stockProduct.available {
  background: #f9fef9;
  color: #28B62C;
}
/* line 59, ../scss/_product.scss */
article.product .rightArticle .stockProduct.unavailable {
  background: #fdf7f7;
  color: #D9534F;
}
/* line 64, ../scss/_product.scss */
article.product .rightArticle .stockProduct span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 72, ../scss/_product.scss */
article.product .rightArticle .addCart .btn {
  width: 100%;
}

/* line 4, ../scss/app.scss */
body {
  background: #f5f5f5;
}

/* line 8, ../scss/app.scss */
.navbar-brand {
  padding: 0;
}
/* line 10, ../scss/app.scss */
.navbar-brand img {
  height: 50px;
}

/* line 15, ../scss/app.scss */
.flexbox {
  display: flex;
  flex-flow: row wrap;
}
/* line 19, ../scss/app.scss */
.flexbox .flex-item {
  flex: 1 auto;
}

/* line 24, ../scss/app.scss */
.btn.btn-primary {
  background: #5FC7EE;
  border-color: #48bfec;
}
