{% extends "::layout.html.twig" %}

{% block content %}
	<h1 >Produits populaires</h1 >
	{% for product in listProductPop %}
		{% include 'sil21VitrineBundle:Product:widget.html.twig' %}
	{% endfor %}

	<h1 >Marques populaires</h1 >
	{% for marque in  listMarquePop %}
		<div class="text-center">
			<a href="{{ path('brand_articleByBrand', {'id': marque.id}) }}" class="btn btn-lg btn-primary" >{{ marque.name }}</a >
		</div>
	{% endfor %}
{% endblock %}