nav.navbar {
	min-height:   inherit;
	background:   $dark;
	border-color: lighten($dark, 20%);
	color:        $mainColor;
	
	.navbar-brand {
		padding: 0;
		img {
			height: $heigthMenu;
		}
	}
	
	.navbar-nav > li {
		padding:        0;
		text-transform: capitalize;
		
		> a {
			color:          $mainColor;
			position:       relative;
			padding-top:    21px;
			padding-bottom: 21px;
			padding-left:   30px;
			
			&.btn.navbar-btn { margin: 13px 0; }
			
			> span.ico {
				position:  absolute;
				font-size: 2rem;
				left:      5px;
				transform: translateY(-50%);
				top:       50%;
			}
			
			&:after {
				content:    '';
				position:   absolute;
				bottom:     -5px;
				left:       0;
				height:     4px;
				width:      100%;
				background: transparent;
			}
			
			&:hover {
				color: $mainColor;
				
				&:after {
					background: $mainColor;
				}
			}
		}
		
		&.active a, &.dropdown.open > a {
			color: $mainColor;
			
			&:hover { color: $mainColor; }
			
			&:after { background: $mainColor; }
		}
	}
}